.terraform/
.terraform.lock.hcl.bak
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json
.DS_Store
*.pem
*.key
